<footer layout="row" layout-align="space-between center" class="footer-container">
    <div class="footer-name">
        <p (click)="showHiringButton()">2016 Medicover Group</p>
    </div>
    <nav class="footer-links">
        <ul>
            <li><a href="http://www.medicover.com">Medicover Group</a></li>
            <li><a href="">Career</a></li>
            <li><a [routerLink]="['Contact']">Contact us</a></li>
        </ul>
    </nav>
</footer>

<!--
Copyright 2016 Medicover R&D. All Rights Reserved.
-->