<section class="section" (window:scroll)="onScroll($event)">
    <div class="section-title bg-blue-grey md-whiteframe-7dp">
        <h1 [ngClass]="{'hidden': isHidden}">{{title}}</h1>
    </div>

    <div class="section-body" layout="row" layout-align="space-around center">
        <div class="section-icon" style="width:45%; text-align: center;">
            <md-icon class="material-icons">extension</md-icon>
        </div>
        <div class="section-description" style="width:45%">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Maxime voluptatum, facere. Numquam repudiandae ullam
                cumque, dolorum pariatur, a voluptas iure totam, sint tempora velit minus fugiat? Cumque, ex mollitia architecto.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officiis, perferendis illo! Eligendi nostrum itaque,
                alias pariatur animi veritatis corporis minus quia! Consequatur quia commodi sunt nostrum necessitatibus,
                alias, sed nulla!
            </p>

            <a class="link" (click)="gotoWorks()">See our works</a>
        </div>
    </div>

    <h3 class="team-list-title">Our Works</h3>
    <ul class="team-list works-list" layout="row" layout-align="center center" layout-wrap>
        <li class="works-list__item" flex="50" *ngFor="#application of applications">
            <div class="application-code"><span>{{application.code}}</span></div>
            <div>
                <h3 class="application-name">{{application.name}}</h3>
                <p class="application-desc">{{application.description}}</p>
            </div>
        </li>
    </ul>
</section>