<md-toolbar class="top-nav" [ngClass]="{
    'bg-indigo': isStart,
    'bg-purple': isStory,
    'bg-teal': isClients,
    'bg-red': isTeam,
    'bg-blue-grey': isWorks,
    'md-whiteframe-7dp': top}" (window:scroll)="onScroll($event)">
    <div class="md-toolbar-tools" layout="row" layout-align="space-between center">
        <div flex="50">
            <a href="" class="app-title" [routerLink]="['Start']" (click)="gotoStart()">
                <h1 [ngClass]="{'hidden': hideTitle}">
                    <img src="images/medicover_logo_white.png" alt="logo" style="width:6%;vertical-align:text-bottom;margin-right:5px;">
                    <span>IT Research & Development</span></h1>
            </a>
        </div>
        <div class="top-menu" flex="50" layout="row" layout-align="end center" style="min-height:64px;">
            <a md-button md-ink-ripple class="top-menu__item hiring-button" aria-label="Our Story"
            style1="display:none" [hidden]="hiringButtonHidden" [routerLink]="['Story']" (click)="gotoStory();">
                We are hiring
            </a>
            <a md-button md-ink-ripple class="top-menu__item" aria-label="Our Story" [routerLink]="['Story']" (click)="gotoStory();">
                Story
            </a>
            <a md-button class="top-menu__item" aria-label="Our Clients" [routerLink]="['Clients']" (click)="gotoClients()">
                Clients
            </a>
            <a md-button class="top-menu__item" aria-label="Our Works" [routerLink]="['Works']" (click)="gotoWorks()">
                Works
            </a>
            <a md-button class="top-menu__item" aria-label="Our Team" [routerLink]="['Team']" (click)="gotoTeam()">
                Team
            </a>
        </div>
    </div>
</md-toolbar>
<router-outlet></router-outlet>

<footer layout="row" layout-align="space-between center" class="footer-container">
    <div class="footer-name">
        <p (click)="showHiringButton()">2016 Medicover Group</p>
    </div>
    <nav class="footer-links">
        <ul>
            <li><a href="http://www.medicover.com">Medicover Group</a></li>
            <li><a href="">Career</a></li>
            <li><a [routerLink]="['Contact']">Contact us</a></li>
        </ul>
    </nav>
</footer>

<!--
Copyright 2016 Medicover R&D. All Rights Reserved.
-->