<section class="team-detail">

    <md-button class="md-icon-button team-detail--close" (click)="goBack()">
        <md-icon class="material-icons" style="font-size: 50px; color: grey; cursor: pointer;">close</md-icon>
    </md-button>

    <div class="person" flex="35">
        <h2>Contact us</h2>
        <!--<div>
            <input class="md-input" type="text" placeholder="Your e-mail"/>
        </div>
        <div>
            <textarea name="" id="" cols="30" rows="10" placeholder="Your message"></textarea>
        </div>
        
        <md-button class="md-primary">Send</md-button>-->
    </div>
    
</section>